.country-list {
  margin: 0;
  padding: 0;
}
.country-list__item {
  display: flex;
}
.country-list__image {
  margin-right: 20px;
  width: 40px;
  height: 26px;
}
.country-list__name {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-size: 18px;
  font-weight: 500;
}
